:root {
  /* Fondo general */
  --color-bg-gradient: #fff;
  --color-bg-secondary: #003057;
  --color-bg-secondary-hover: #e5f4ff;
  --bg-inputs: #fff;

  /* Loading */
  --color-loading: #1976d2;

  /* Acentos */
  --color-blur-bg: rgba(25, 118, 210, 0.08);
  --color-celeste-claro: rgba(255, 255, 255, 0.6);
  --color-celeste-focus: rgba(25, 118, 210, 0.3);

  /* Textos */
  --color-text-base: #1c1c1e;
  --color-title-primary: #003057;
  --color-title-secondary: #ffff;
  --color-text-active: #00c774;
  --color-text-baja: #d32f2f;
  --color-datagrid-cell-text: #1c1c1e;

  /* DataGrid */
  --color-dg-header-bg: #1976d2;
  --color-dg-cell-bg: #ffffff;
  --color-dg-cell-bg-even: #f0f7ff;
  --color-dg-cell-bg-odd: #ffffff;
  --color-dg-cell-child: #d2e7ffa6;

  /* Paginación */
  --color-pagination: #1c1c1e;

  /* Formularios */
  --login-gradient-bg: linear-gradient(180deg, #e3f2fd 0%, #ffffff 100%);
  --login-title-color: #0d47a1;
  --login-paper-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  --login-paper-header: #1976d2;
  --login-button-bg: #1976d2;
  --login-button-hover: #1565c0;
  --bg-inputs: #f0f2f5;
  --bg-paper: #003057;
}